body {
	font-family: "Quicksand",sans-serif; 
	margin: 0; 
	min-height: 100vh;
    background: url("tlo.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

ul {
	padding: 0px;	
	margin: 0px;
	list-style-type: none;
}

nav li {
	display: inline-block;
}

nav {
	background-color: #d9e2f5;
	text-align: center;
}

li a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: rgb(12, 10, 10);
	text-decoration: none;
}

a:hover {
	background-color: #d9e2f5;
	cursor: pointer;
	-webkit-transition: background-color 1s ease-out;
  	-moz-transition: background-color 13s ease-out;
  	-o-transition: background-color 1s ease-out;
  	transition: background-color 1s ease-out;
	
}

nav ul li ul li {
	display: block;	
}

nav ul li ul { 
	display: none;
}

nav ul li:hover ul { 
	background-color: #d9e2f5;
	display: block;
	position: absolute;
}

nav ul li ul li a:hover {
	background-color: #d9e2f5;
	display: block;
}




