body {
    font-family: "Quicksand", sans-serif; 
    margin: 0; 
    min-height: 100vh;
    background: url("tlo.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

ul {
    padding: 0px;	
    margin: 0px;
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav {
    background-color: #d9e2f5;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtelny cień dla nawigacji */
}

li a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: rgb(12, 10, 10);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: #bfcde7; /* Zmieniono kolor hover */
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

nav ul li ul li {
    display: block;	
}

nav ul li ul { 
    display: none;
}

nav ul li:hover ul { 
    background-color: #d9e2f5;
    display: block;
    position: absolute;
}

nav ul li ul li a:hover {
    background-color: #bfcde7; /* Zmieniono kolor hover w submenu */
    display: block;
}

/* Stylizacja formularza */
main {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Delikatny cień */
}

main h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Pola tekstowe i textarea */
form input[type="text"],
form input[type="number"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Odstęp między polami */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Dodatkowy odstęp między etykietą a polem */
form label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    color: #555;
}

/* Stylizacja przycisku */
form button[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0; /* Centrowanie i odstęp od pól */
}

form button[type="submit"]:hover {
    background-color: #45a049; /* Zmieniono kolor hover */
    transition: background-color 0.3s ease-out;
}

/* Dodano responsywność */
@media (max-width: 600px) {
    nav li {
        display: block;
        text-align: left;
    }

    main {
        padding: 15px;
    }

    form button[type="submit"] {
        width: 100%; /* Przycisk na całą szerokość na małych ekranach */
    }
}
/*Wygląd dla odpowiedzi w form pracownicy*/
#response {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 5px;
}
 .response-item {
            margin: 5px 0;
            padding: 5px;
            background-color: #e8e8e8;
            border-radius: 3px;
        }
